body[onitor-theme='light']
{
    background: white;
}	

a[onitor-theme='light']
{
    color: #808033;
}

h1[onitor-theme='light'], h2[onitor-theme='light'], h3[onitor-theme='light'], p[onitor-theme='light']
{
    color: 	black;
}

li[onitor-theme='light']
{
    color: black;
    background: #E6E6E6;
}

.navbar[onitor-theme='light']
{
    border: 2px solid black;
}

#text[onitor-theme='light']
{
    border: 1.5px solid black;
    background: #E6E6E6;
}

.splitbutton[onitor-theme='light']
{
    border-color: black;
    background: #02BB5B;
    color: black;
}

.splitbutton-dropdown-content[onitor-theme='light']
{
    border: 2px solid black;
    background: #E6E6E6;
}