*
{
	font-family: Segoe UI;
}

body
{
	background:	black;
	overflow-y: auto;
}

/*ul*/

li{
	color: white;
	background: #1F1F1F;
}

a
{
	color: #FF9;
}

b
{
	margin-top:	-40px;
}

h1, h2, h3, p
{
	color: white;
}

#menu-left
{
	position: absolute;
	top: -8px;
	left: -25px;
}

#menu-right
{
	position: absolute;
	top: 20px;
	right: 2px;
	z-index: 2;
}

.navbar
{
	display: block;
	float: left;
	text-align: center;
	padding: 4px;
	border: 2px solid white;
	border-radius: 4px;
	margin-left: 4px;
	margin-bottom: 2px;
	width: 80px;
	height: 20px;
}

.dropdown
{
	width: 80px;
	height: 19px;
	position: relative;
	right: 20%;
}

.dropdown-content
{
	display: none;
	position: absolute;
	top: 100%;
	left: -46px;
	padding-top: 4px;
}

.dropdown:hover .dropdown-content
{
	display: block;
}

#current-version
{
	position: absolute;
	top: 50px;
	left: auto;
}

#text
{
	position: relative;
	background: #1F1F1F;
	margin-top: 3cm;
	margin-bottom: 18mm;
    margin-left: auto;
	margin-right: auto;
	max-width: calc(22vw + 400px);
	width: calc(88% - 12vw + 60px);
	min-height: calc(24vw + 160px);
	border: 1.5px solid white;
	padding: 2px;
	padding-bottom: 8px;
}

#logo
{
	position: relative;
	margin-top: 12px;
	margin-left: 10px;
	float: left;
}

#header
{
	font-size: 26px;
	margin-top: 12px;
	margin-right: 4%;
	position: relative;
	text-align: center;
}

#center-text
{
	text-align: center;
}

#container-clist
{
	height: auto;
    margin: 0 auto;
	max-width: 600px;
}

.column-list
{
	text-align: left;
	column-count: 2;
	column-gap: 1.6vw;
}

.splitbutton-action
{
	border-radius: 4px 0 0 4px;
	margin-right: -8px;
	width: 78px;
	cursor: pointer;
}

.splitbutton
{
	border-color: white;
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	background: #014421;
	color: white;
	height: 38px;
}

.splitbutton-dropdownmenu
{
	display: inline-block;
}

.splitbutton-dropdown
{
	border-radius: 0 4px 4px 0;
	display: inline-block;
	width: 28px;
}

.splitbutton-dropdown-content
{
	display: none;
	position: absolute;
	border: 2px solid white;
	border-radius: 4px;
	background: #1F1F1F;
	margin-top: 1px;
	margin-left: -35.6px;
	z-index: 1;
}

.splitbutton-dropdown-content a
{
	text-align: center;
	padding: 4px;
	display: block;
}

#getit
{
	position: absolute;
	right: 6px;
}

@media only screen and (min-width: 350px) {
	#menu-right
	{
		top: -8px;
	}
}

@media only screen and (min-height: 1200px) {
	#text{
		min-height: calc(20em + 8vw);
	}
}

@media only screen and (orientation:landscape) {
	#menu-right
	{
		top: -8px;
	}

	#current-version
	{	
		position: absolute;
		top: 95px;
		right: 10px;
		max-width: 16vw;
		word-wrap: break-word;
	}

	#text
	{
		margin-top: calc(6.5vw + 6mm);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: calc(4.4vh + 6.6vw + 20px);
		max-width: calc(48vw);
		width: calc(62% - 12vw);
		min-height: calc(22vw + 120px);
	}
}

@media (prefers-color-scheme: light) { 
	body
	{
		background: white;
	}	

	a
	{
		color: #808033;
	}

	h1, h2, h3, p
	{
		color: black;
	}

	li
	{
		color: black;
		background: #E6E6E6;
	}

	.navbar
	{
		border: 2px solid black;
	}

	#text
	{
		border: 1.5px solid black;
		background: #E6E6E6;
	}

	.splitbutton
	{
		border-color: black;
		background: #02BB5B;
		color: black;
	}

	.splitbutton-dropdown-content
	{
		border: 2px solid black;
		background: #E6E6E6;
	}
 }

@media only screen and (min-width: 2400px) {
	#text{
		max-width: calc(26em + 22vw);
		min-height: calc(22em + 8vw);
	}
}