ul
{
}

li
{
	display: block;
	color: white;
	float: left;
	text-align: center;
	padding: 4px;
	border: 2px solid white;
	border-radius: 4px;
	background: #232423;
	margin-left: 4px;
	width: 100px;
}

a
{
	color: 	#FF9;
}

h1
{
	color: 	white;
}

h2
{
	color:	white;
}

h3
{
	color: 	white;
}

p
{
	color: 	white;
}

#menu-right
{
	margin-top: -16.7px;
	float: right;
}

#getit
{
	position:relative;
	float: right;
	margin-top:478px;
	margin-left:140px;
}

#text
{
	background: #232423;
	margin-top:50px;
	margin-left: 30px;
	height: 540px;
	width: 740px;
	float: left;
	border: 1.5px solid white;
}

#logo
{
	position: relative;
	margin-top: 12px;
	margin-left: 10px;
	float: left;
}

#center-text
{
	position:	relative;
	float:	right;
	margin-top: -22px;
}

#header
{
	font-size: 26px;
	margin-left: 256px;
	float:	left;
	position: relative;
}

#home-text
{
	position: relative;
	float: right;
	margin-right: 232px;
}

.dropdown{
	width: 	100px;
	height: 20px;
	position: relative;
	right: 20%;
}

.dropdown-content{
	display: none;
	margin-top: 5px;
	margin-left: -50px;
	z-index: 99;
	min-width: 100%;
}

.dropdown:hover .dropdown-content{
	display: block;
}

#current-version
{
	position: relative;
	float: right;
	margin-top: 36px;
}

#download
{
	border: 2px solid white;
	background: #014421;
	height: 35px;
	width: 80px;
	color: white;
	border-radius: 4px;
}

b
{
	margin-top:	-40px;
}

body
{
	background:	black;
}
